@model ABCRetail.Models.Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You are about to delete this customer. This action cannot be undone.</p>
                </div>

                <h5>Customer Details</h5>
                <dl class="row">
                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Model.Name</dd>

                    <dt class="col-sm-4">Surname:</dt>
                    <dd class="col-sm-8">@Model.Surname</dd>

                    <dt class="col-sm-4">Username:</dt>
                    <dd class="col-sm-8">@Model.Username</dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">@Model.Email</dd>

                    <dt class="col-sm-4">Shipping Address:</dt>
                    <dd class="col-sm-8">@Model.ShippingAddress</dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.CustomerId" />

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Confirm Delete
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>